@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Poppins', sans-serif;
}

.text-base {
  color: #0F222B;
}

a {
  min-height: 42px;
  min-width: 42px;
}

button {
  box-sizing: border-box;
  min-height: 42px;
  min-width: 42px;
}

.btn {
  min-height: 42px;
}

.bg-ijo,
body {
  background-color: #E1FFDE;
}

.bg-krem {
  background-color: #FEE2B3;
}

.form-input {
  background-color: #FEE2B3;
  border-radius: 10px;
  border-color: #FEE2B3;
}

.button-input {
  background-color: #FDBC0C;
  border-radius: 6px;
  border-color: #FDBC0C;
  box-shadow: none;
}

.button-search {
  margin-left: -122px;
  margin-top: 8px;
  width: 115px;
  height: 42px;
}

.account-button {
  background: #FFFFFF;
  border-radius: 40px;
}

.explore-button {
  background-color: #FF980F;
  border-radius: 7px;
  border-color: #FF980F;
}

span {
  color: #FF3932;
}

.ideas {
  color: #D66D4D;
}

.space {
  height: 100vh;
}

.hero {
  background-image: url("../public/images/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 50px;
}

.hero1 {
  background-image: url("../public/images/hero-image.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 50px;
}

.contact-us {
  background-image: url("../public/images/contactus-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  border-radius: 17px;
}

.contact-us2 {
  background-image: url("../public/images/form-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  border-radius: 17px;
}

.contact-us3 {
  background-image: url("../public/images/form-image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  border-radius: 17px;
}

.form-email {
  background: rgba(255, 255, 255, 0.27);
  backdrop-filter: blur(9.5px);
  border-radius: 21px;
}

.border-random {
  border: 3px solid;
  border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.form-email2 {
  background: rgba(205, 219, 204, 0.7);
  backdrop-filter: blur(9.5px);
  border-radius: 21px;

}

.input-email2 {
  background: rgba(255, 152, 15, 0.82);
  backdrop-filter: blur(9.5px);
  border-radius: 9px;
}

.form-control {
  border: 0;
}

.btn {
  border: 0;
}

.input-email {
  background: rgba(168, 54, 24, 0.27);
  backdrop-filter: blur(9.5px);
  border-radius: 9px;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.login > .form-control {
  border-radius: 5px;
}

.login > .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BCBEC0;
  opacity: 1;
  /* Firefox */
}

.login > .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #BCBEC0;
}

.login > .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #BCBEC0;
}



.button-send {
  border: 3px solid;
  border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.less-than {
  border: 2px solid #0F222B;
  border-radius: 5px;
}

.more-than {
  background-color: #0F222B;
  border: 2px solid #0F222B;
  border-radius: 5px;
}

.filter-image {
  filter: drop-shadow(5px 5px 55px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
}

.filter-card {
  background: #F5F5F5;
  box-shadow: 5px 5px 55px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.detail-card {
  background: rgba(255, 255, 255, 0.27);
  box-shadow: 4px 4px 55px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.login-card {
  filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.1));
}

.filter-image-detail {
  background-color: white;
  filter: drop-shadow(9px 9px 11px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  height: 100%;
}

.detail {
  background: rgba(255, 255, 255, 0.27);
  box-shadow: 4px 4px 55px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.card-tanaman {
  min-height: 40vh;
}

.form-move {
  margin-right: 100px;
  margin-top: 40px;
}

.vh-100 {
  min-height: 100vh;
}

.sm-fs {
  font-size: 0.8em;
}

::-webkit-input-placeholder {
  font-size: 10px!important;
}

:-moz-placeholder { /* Firefox 18- */
     font-size: 10px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
     font-size: 10px!important;
}

@media (max-width: 1200px) {
  .login-fs {font-size: 1.5em;}
  .sm-fs {
    font-size: 1em;
  }

  ::-webkit-input-placeholder {
    font-size: 13px!important;
  }
  
  :-moz-placeholder { /* Firefox 18- */
       font-size: 13px!important;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 13px!important;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 70vh
  }
}


@media only screen and (min-width: 600px) {
  .add-vh60 {
    height: 60vh;
  }

  .add-vh30 {
    height: 20vh;
  }

  .set-width {
    width: 40vh;
  }
}
